In [1]:
print("Hello All welcome to the python programmming World")

Hello All welcome to the python programmming World

In [2]:
x=2
y=3

In [3]:
z=x+y
print(z)

5

In [ ]:
#rule no 1:-no namespace while declaring the varibale name.

In [4]:
firstname='soumali'
print(firstname)

soumali

In [5]:
first name='soumali'
print(first name)

SyntaxError: invalid syntax (2121021194.py, line 1)

In [6]:
first_name='soumali'
print(first_name)

soumali

In [ ]:
#Rule 2:- A  variable name should not start with a number **.

In [7]:
1name='james'
print(1name)

SyntaxError: invalid decimal literal (1327165608.py, line 1)

In [ ]:
except the first position ,you can include the number in the middle or last position

In [8]:
name1='james'
print(name1)

james

In [ ]:
#RULE NO 3:A variable name should not contain any special characters.

In [10]:
name@='soumali'
print(name@)

SyntaxError: invalid syntax (1903408488.py, line 2)

In [ ]:
#INTRODUCTION TO DATATYPES:-
    #1)Strings=====:>str
        #2)Number====>integers---->int,float(decimals)==>0.1,0.2===>float
        #3)Lists==>list
        #4) tupples-->tupple
        #5)Dictionaries-->dict

In [ ]:
classification of datatypes:
    broadly data type are classified in two catagories
    1) mutable datatypes:-
        which we can able to edit/alter==>flexible in nature
        2) Inmutable datatypes:which we can not able to edit/alter==>fixed in nature

In [ ]:
#Introduction to String datatype:
    #defination:-A string is nothing a series of characters declaredin quotes.
        #classification:-it is and immutable datatype
            
            how to define the string===>
            
            #1) single quote
            #2)double quote

In [11]:
a='dhawal'
print(a)

dhawal

In [12]:
a="parul"
print(a)

parul

In [ ]:
#depend upon choice whether use single or double quote